#!/usr/bin/env sh
set -eu

if ! command -v kscreen-doctor >/dev/null 2>&1; then
  exit 0
fi

{% set ns = namespace(offset=0) %}
{% for m in monitors %}
# {{ m.name }}
kscreen-doctor output.{{ m.name }}.enable || true
{% if m.resolution != 'preferred' %}
kscreen-doctor output.{{ m.name }}.mode.{{ m.resolution }} || true
{% endif %}
{% if m.position == 'auto' %}
kscreen-doctor output.{{ m.name }}.position.{{ ns.offset }},0 || true
{% set ns.offset = ns.offset + 1920 %}
{% else %}
kscreen-doctor output.{{ m.name }}.position.{{ m.position | replace('x',',') }} || true
{% endif %}
kscreen-doctor output.{{ m.name }}.scale.{{ m.scale }} || true
{% endfor %}
