[General]
ColorScheme=BreezeDark
Name=Breeze Dark
TerminalApplication=alacritty
TerminalService=Alacritty.desktop

[KDE]
LookAndFeelPackage=org.kde.breezedark.desktop
SingleClick=false

[Icons]
Theme=breeze-dark

[WM]
activeFont=JetBrainsMono Nerd Font,10,-1,5,50,0,0,0,0,0
