[Compositing]
AnimationSpeed=0
Enabled=true

[Focus]
FocusPolicy=FocusFollowsMouse
NextFocusPrefersMouse=true
DelayFocusInterval=0

[NightColor]
Active=false

[Windows]
BorderlessMaximizedWindows=true
