[AC][DimDisplay]
idleTime=7200000

[AC][DPMSControl]
idleTime=7200000
lockBeforeTurnOff=1

[AC][HandleButtonEvents]
lidAction=0

[Battery][DimDisplay]
idleTime=3600000

[Battery][DPMSControl]
idleTime=3600000
lockBeforeTurnOff=1

[Battery][HandleButtonEvents]
lidAction=0

[LowBattery][DimDisplay]
idleTime=1800000

[LowBattery][DPMSControl]
idleTime=1800000
lockBeforeTurnOff=1
